.container{
    height: 300px;
    background-color: azure;
    padding-top: 20px;
}
.container p{
    background-color: blueviolet;
    padding: 10px;
    margin: 20px;
    display: inline;
}
.container span{
    background-color: brown;
    padding: 18px;
    color: aliceblue;
}