@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.Normal h1{
    color:rgb(176, 233, 122);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.google-fonts p{
    font-family: "Handjet", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style:normal;
}
.secondp{
    font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}