.top-nav{
    overflow: hidden;
    background-color: #333333;
}
.top-nav .a{
    float: left;
    display: block;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top-nav.a:hover{
    background-color: aliceblue;
    color: #333333;
}

@media screen and (max-width: 600px){
    
}
